@CHARSET "ISO-8859-1";


	.jumbotron{
	   background-color:#ecafbb;
	   font-size: 90px;
	   
	    font-family: "Times New Roman", Times, serif;
 		 padding-left: 15px;
 		 color: #000000;
	}
	/* Adds borders for tabs */

body{
	background-color: #93b4ee;
	 color: #000000;
	  font-family: "Times New Roman", Times, serif;
 		 padding-left: 15px;
 		 
}

a{
	 color: #07388b;
}